apiVersion: v1
kind: Template
metadata:
  name: launchpad-builder
  annotations:
    description: This template creates a Build Configuration using an S2I builder.
    tags: instant-app
parameters:
  - name: SOURCE_REPOSITORY_URL
    description: The source URL for the application
    displayName: Source URL
    required: true
  - name: SOURCE_REPOSITORY_REF
    description: The branch name for the application
    displayName: Source Branch
    value: master
    required: true
  - name: SOURCE_REPOSITORY_DIR
    description: The location within the source repo of the application
    displayName: Source Directory
    value: .
    required: true
  - name: GITHUB_WEBHOOK_SECRET
    description: A secret string used to configure the GitHub webhook.
    displayName: GitHub Webhook Secret
    required: true
    from: '[a-zA-Z0-9]{40}'
    generate: expression
objects:
  - apiVersion: v1
    kind: ImageStream
    metadata:
      name: nodejs-configmap
    spec: {}
  - apiVersion: v1
    kind: ImageStream
    metadata:
      name: runtime
    spec:
      tags:
        - name: latest
          from:
            kind: DockerImage
            name: 'bucharestgold/centos7-s2i-nodejs:8.x'
  - apiVersion: v1
    kind: BuildConfig
    metadata:
      name: nodejs-configmap
    spec:
      output:
        to:
          kind: ImageStreamTag
          name: 'nodejs-configmap:latest'
      postCommit: {}
      resources: {}
      source:
        git:
          uri: '${SOURCE_REPOSITORY_URL}'
          ref: '${SOURCE_REPOSITORY_REF}'
        type: Git
      strategy:
        type: Source
        sourceStrategy:
          from:
            kind: ImageStreamTag
            name: 'runtime:latest'
          incremental: true
      triggers:
        - github:
            secret: '${GITHUB_WEBHOOK_SECRET}'
          type: GitHub
        - type: ConfigChange
        - imageChange: {}
          type: ImageChange
    status:
      lastVersion: 0
  - apiVersion: v1
    kind: Service
    spec:
      ports:
        - protocol: TCP
          port: 8080
          targetPort: 8080
      type: ClusterIP
      selector:
        project: nodejs-configmap
        provider: nodeshift
    metadata:
      name: nodejs-configmap
      labels:
        provider: nodeshift
        expose: 'true'
        project: nodejs-configmap
        version: 1.2.2
  - apiVersion: v1
    kind: DeploymentConfig
    metadata:
      name: nodejs-configmap
      labels:
        app: nodejs-configmap
        provider: nodeshift
        project: nodejs-configmap
        version: 1.2.2
    spec:
      template:
        spec:
          containers:
            - readinessProbe:
                httpGet:
                  path: /api/health/readiness
                  port: 8080
                  scheme: HTTP
              livenessProbe:
                httpGet:
                  path: /api/health/liveness
                  port: 8080
                  scheme: HTTP
                initialDelaySeconds: 60
                periodSeconds: 30
              image: nodejs-configmap
              name: nodejs-configmap
              securityContext:
                privileged: false
              ports:
                - containerPort: 8080
                  name: http
                  protocol: TCP
        metadata:
          labels:
            app: nodejs-configmap
            project: nodejs-configmap
            provider: nodeshift
            version: 1.2.2
      replicas: 1
      selector:
        app: nodejs-configmap
        project: nodejs-configmap
        provider: nodeshift
      triggers:
        - type: ConfigChange
        - type: ImageChange
          imageChangeParams:
            automatic: true
            containerNames:
              - nodejs-configmap
            from:
              kind: ImageStreamTag
              name: 'nodejs-configmap:latest'
  - apiVersion: v1
    kind: Route
    spec:
      to:
        kind: Service
        name: nodejs-configmap
      port:
        targetPort: 8080
    metadata:
      name: nodejs-configmap
      labels:
        provider: nodeshift
        project: nodejs-configmap
        version: 1.2.2
